@media print {
  @page  {
    width: 210mm;
    height: 297mm;
    padding: 0;
    margin: 6mm 0mm 6mm 6mm;
    text-align: center;
    background: white;
  }
  #wrap_show.symlink {
    border: none;
  }
  span.centerMark {
    color: white;
    display: none;
  }
  img:first-of-type {
    width: 1197px!important;
    height: auto;
    max-height: 1500px;
    margin: 0 0 0 -4mm;
    padding: 0;
    background: white;
  }
  .img_txt1, .img_txt2 {
    font-size: 175%;
    color: #000;
    margin: 0 0 0 -5mm;
    background: white;
    display: block;
    padding: 0;
  }
}
