@media print {
  @page  {
    width: 210mm;
    height: 297mm;
    padding: 0;
    margin: 11mm 0mm 6mm 6mm;
    text-align: center;
  }
  img:first-of-type {
    width: 988px;
    height: auto;
    max-height: 1333px;
    margin: 0 0 0 10mm;
  }
  .img_txt1, .img_txt2 {
    font-size: 165%;
    margin: 0 0 0 9mm;
  }
  #pathOrig {
    margin: 0 0 0 10mm;
  }
}
