* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}
body {
  text-align: left;
  color: white;
  padding: 0.6em 0 0 3em;
}
#dzclose { /* NEARLY like in app.css */
  position: fixed;
  top: 2em;
  left: 0.15em;
  cursor: pointer;
  font-size: 2em;
  line-height: 0.7em;
  margin: 0;
  padding: 2px 4px 6px 4px;
  border-radius: 4px;
}
#dzclose:hover {
  color: black;
  background-color: deeppink;
}
h2 {
  display: block;
  font-family: sans, sans-serif;
  margin-top: 0;
}
h3, p {
  display: inline;
}
h3, b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 95%;
  letter-spacing: 1px;
}
a {
  color: rgb(176, 240, 255);
  display: inline;
  padding: 0.3em 0.5em;
  text-decoration: none;
  white-space: nowrap;
  border: 1.2px solid white;
  border-radius: 5px;
}
a:hover {
  color: white;
  cursor: pointer;
}
.wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
}
a.border0 {
  border: 0;
  padding: 0;
}
.wrap div {
  display: inline-block;
  vertical-align: top;
  width: 8em;
  text-align: center;
}
.wrap img {
  width: 8em;
  border: 1.2px solid white;
  border-radius: 4px;
}
.wrap .lef img {
  display: inline-block;
}


.wrap .mid {
  text-align: center;
}
.wrap .mid img {
}
.wrap .rig {
  text-align: right;
}
.wrap .rig img {
}
