* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}
body {
  text-align: center;
  color: white;
}
#dzclose { /* NEARLY like in app.css */
  position: fixed;
  top: 0.1em;
  right: 0.1em;
  cursor: pointer;
  font-size: 2em;
  line-height: 0.7em;
  margin: 0;
  padding: 2px 4px 6px 4px;
  border-radius: 4px;
}
#dzclose:hover {
  color: black;
  background-color: deeppink;
}
/*body::after {
  content: "";
  background: url("images/bg034030hq.jpeg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/
h3, p {
  display: inline;
}
a {
  color: rgb(188, 242, 255);
  display: inline;
  padding: 0.3em 0.5em;
  text-decoration: none;
  white-space: nowrap;
  border: 1.5px solid #ddd;
  border-radius: 5px;
}
a:hover {
  color: rgb(17, 68, 102);
  cursor: pointer;
}
#wrap {
}
#lef {
  display: inline-block;
  vertical-align: top;
  width: 6em;
}
#lef img {
  width: 6em;
}
#mid {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  text-align: center;
}
#mid img {
  width: 12em;
}
#rig {
  display: inline-block;
  vertical-align: top;
  width: 6em;
}
#rig img {
  width: 6em;
}
