<div class="ember-view">

  {{context-menu}}

  {{menu-buttons}}

  <p class="lastRow" style="margin-bottom:256em">Mish powered by NodeJS &bull; Express &bull; EmberJS<br><span class="copyright"></span></p>
  {{yield}}
</div>
