
{{context-menu}}

{{menu-buttons}}

<p class="lastRow">Mish powered by NodeJS &bull; Express &bull; EmberJS<br><span class="copyright"></span><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br> <br> <br> </p>
{{yield}}
